@model QLCCCC.Models.PhanAnh
@using System.ComponentModel.DataAnnotations
@using System.Reflection

<h1>Xóa phản ánh</h1>

<h3>Bạn có chắc muốn xóa phản ánh này?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.ID</dd>
        <dt class="col-sm-2">Người gửi</dt>
        <dd class="col-sm-10">@(Model.NguoiDung?.HoTen ?? "Không xác định")</dd>
        <dt class="col-sm-2">Nội dung</dt>
        <dd class="col-sm-10">@Model.NoiDung</dd>
        <dt class="col-sm-2">Trạng thái</dt>
        <dd class="col-sm-10">
            @{
                var memberInfo = Model.TrangThai.GetType().GetMember(Model.TrangThai.ToString()).FirstOrDefault();
                var displayName = memberInfo?.GetCustomAttribute<DisplayAttribute>(false)?.Name ?? Model.TrangThai.ToString();
            }
            @displayName
        </dd>
        <dt class="col-sm-2">Ngày gửi</dt>
        <dd class="col-sm-10">@Model.NgayGui.ToString("dd/MM/yyyy")</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>