@model QLCCCC.Models.CanHo

<h1>Xóa Căn hộ</h1>

<h3>Bạn có chắc muốn xóa căn hộ này?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.MaCan)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Chung cư</dt>
        <dd class="col-sm-10">@(Model.ChungCu?.Ten ?? "Không có dữ liệu")</dd> <!-- Kiểm tra null -->
        <dt class="col-sm-2">Diện tích</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DienTich)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>