@model QLCCCC.Models.ChungCu

<h1>Xóa Chung cư</h1>

<h3>Bạn có chắc muốn xóa chung cư này?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Ten)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Địa chỉ</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DiaChi)</dd>
        <dt class="col-sm-2">Chủ đầu tư</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ChuDauTu)</dd>
        <dt class="col-sm-2">Năm xây dựng</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NamXayDung)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>